<div id="waypoints-panel" class="row card-group w-auto mx-2 p-3">

  <!-- Status -->
  <div id="status" class="col card border-dark px-0 mx-0">
	<div class="card-header">
	  <p class="card-title title">CSV</p>
	</div>
	<div class="card-body">
	  <form>
        <div class="form-group">
          <label for="csvInput">Upload Waypoints (CSV)</label>
          <input type="file" class="form-control-file" id="csvInput">
        </div>
        <button type="submit" class="btn btn-primary my-2">Upload</button>
      </form>
	</div>
  </div>

  <!-- Controls -->
  <div id="controls" class="card text-center border-dark px-0 mx-0">
    <div class="card-header">
	  <p class="card-title title">Drawing Tools</p>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-primary btn-block m-2">Draw Boundaries</button>
      <button type="button" class="btn btn-primary btn-block m-2">Draw Work Area</button>
      <button type="button" class="btn btn-primary btn-block m-2">Generate Pattern</button>
      <button type="button" class="btn btn-primary btn-block m-2">Download as CSV</button>
    </div>
  </div>

</div>