<div id="waypoints-panel" class="row card-group w-auto mx-2 p-3">

  <!-- CSV Mode -->
  <div id="status" class="col card border-dark px-0 mx-0">
	<div class="card-header">
	  <p class="card-title title">CSV</p>
	</div>
	<div class="card-body">
	  <form>
        <div class="form-group">
          <label for="csvInput">Upload Waypoints (CSV)</label>
          <input type="file" class="form-control-file" id="csvInput">
        </div>
        <button type="submit" class="btn btn-primary my-2">Upload</button>
      </form>
	</div>
  </div>

  <!-- Choose YAML Mode -->
  <div id="controls" class="card border-dark px-0 mx-0">
    <div class="card-header">
	  <p class="card-title title">Pre-made Config</p>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="yamlInput">Choose Config File (yaml)</label>
          <input type="file" class="form-control-file" id="yamlInput">
        </div>
        <button type="submit" class="btn btn-primary my-2">Load</button>
      </form>
    </div>
  </div>

</div>
