<!-- Navbar -->
<nav class="px-4 navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="/">
    <img src="/assets/brandmark_name.png" height="40" width="160" class="d-inline-block align-top" alt="">
  </a>

  <form class="navbar-form navbar-left form-inline mx-1" (submit)=connect() style="padding-left:0px;padding-right:0px;">
	<div class="form-inline">
	  <div class="input-group">
	    <div class="input-group-prepend">
	      <span class="input-group-text">IP</span>
      </div>
      <input type="text" class="form-control" id="ip-field" placeholder="localhost" value="localhost" style="width:140px;" [(ngModel)]="ip" name="ip">
    </div>
	</div>
    <button type="submit" class="btn btn-dark mx-2" id="connect-btn">Connect</button>
  </form>

  <span id="notif-bar" class="mx-2">
    <fa name="globe" size="lg" class="mx-2"></fa>
    <fa name="signal" size="lg" class="mx-2"></fa>
    <fa name="battery" size="lg" class="mx-2"></fa>
  </span>

  <a class="nav-link text-dark" [routerLink]="['/settings']">Settings</a>
</nav>
